body {
            font-family: 'Inter', sans-serif;
        }
        .card-container {
            perspective: 1000px;
        }
        .card {
            transition: transform 0.6s;
            transform-style: preserve-3d;
        }
        .card.is-flipped {
            transform: rotateY(180deg);
        }
        .card-face {
            backface-visibility: hidden;
            -webkit-backface-visibility: hidden;
            display: flex;
            flex-direction: column;
        }
        .card-back {
            transform: rotateY(180deg);
        }
        /* Style for the active filter button */
        .filter-btn.active {
            background-color: #047857; /* emerald-700 */
            color: white;
            border-color: #047857;
        }
